@media screen and (max-width: 768px) {
    header > img {
        width: 6em;
        height: 6em;
    }

    header > h1 {
        font-size: 1.5em;
    }

    .descrizione {
        margin: 1em 4em;
    }

    ul > li {
        padding: 1.2em 12em;
    }
}

@media screen and (max-width: 375px) {
    header > img {
        width: 6em;
        height: 6em;
    }

    header > h1 {
        font-size: 1em;
    }

    .descrizione {
        margin: 1em 2em;
    }

    ul > li {
        padding: 1.2em 6em;
    }

    .YT_Videoo {
        width: 75%;
        height: 75%;
    }

    .descrizione {
        margin: 1em 3em;
        padding-inline-start: 0%;
        padding-inline-end: 0%;
    }

    a {
        font-size: 16px;
    }
}